{% extends "/index.html" %}
{% import 'macro_pagination.html' as macro_pagination %}
{% block content %}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="">商品监控</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">商品监控列表</span>
                            </li>
                        </ul>
                        <!-- Single button -->
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-8">

                                <button type="button" class="btn blue btn-circle" onclick='add_monitor()'
                                        style="margin-left: 10px">新增监控商品
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="portlet-body col-lg-12">
                                <div class="table-scrollable">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>
{#                                                <button onclick="all_choice()" type="button" class="btn btn-circle red btn-sm">全选</button>#}
                                            </th>
                                            <th>快讯ID</th>
                                            <th>对应资讯ID</th>
{#                                            <th>快讯标题</th>#}
                                            <th>摘要</th>
                                            <th>类型</th>
                                            <th>来源</th>
                                            <th>添加时间</th>
                                            <th>更新时间</th>
                                            <th>展示</th>
                                            <th>推送</th>
                                            <th>操作人</th>
                                            {#                                                    <th>备注</th>#}
                                            <th>操作</th>
                                        </tr>
                                        </thead>
{#                                        <tbody>#}
{#                                        {% for row in data %}#}
{#                                            <tr id="tr-{{ row['id'] }}">#}
{#                                                <td><label>#}
{#                                                    <input type="checkbox" name="choice_checkbox"#}
{#                                                           value="{{ row['id'] }}">#}
{#                                                </label></td>#}
{#                                                <td>{{ row["id"] }}</td>#}
{#                                                <td>#}
{#                                                    {% if row['info_id'] ==  None %}#}
{##}
{#                                                    {% else %}#}
{#                                                        {{ row['info_id'] }}#}
{#                                                    {% endif %}#}
{#                                                </td>#}
{#                                                <td>{{ row.title }}</td>#}
{#                                                {% if row.highlight_color %}#}
{#                                                    <td style="color: red;"><b>{{ row.title }}</b><br />{{ row.content|safe }}</td>#}
{#                                                {% else %}#}
{#                                                    <td>#}
{#                                                            <br>#}
{#                                                        <b>{{ row.title }}</b>#}
{#                                                        <br />#}
{#                                                        {% if row.possible_similarity == 1 %}#}
{#                                                            <br>#}
{#                                                            <b style="color: #fb7575">【疑似重复】</b><s>{{ row.content|safe }}</s>#}
{#                                                        {% else %}#}
{#                                                            <br>#}
{#                                                            {{ row.content|safe }}#}
{#                                                        {% endif %}#}
{#                                                            </td>#}
{#                                                {% endif %}#}
{#                                                <td>{{ row.flash_cate.catname }}</td>#}
{#                                                <td>{{ row["source_name"] }}</td>#}
{#                                                <td>{{ row["create_time"] }}</td>#}
{#                                                <td>{{ row["update_time"] }}</td>#}
{#                                                {% if row["is_show"] == 1 %}#}
{#                                                    <td>展示</td>#}
{#                                                {% else %}#}
{#                                                    <td>不展示</td>#}
{#                                                {% endif %}#}
{#                                                {% if row["is_push"] == 1 %}#}
{#                                                    <td>是</td>#}
{#                                                {% else %}#}
{#                                                    <td>否</td>#}
{#                                                {% endif %}#}
{#                                                <td>{{ row["update_time"] }}</td>#}
                                                {#                                                    <td>{{ row["remarks"] }}</td>#}
{#                                                <td>#}
{#                                                    {% if row['is_delete'] == 1 %}#}
{#                                                        <button type="button" disabled="true"#}
{#                                                                class="btn btn-default glyphicon glyphicon-trash"#}
{#                                                                title="已删除"></button>#}
{#                                                    {% else %}#}
{#                                                        <button type="button"#}
{#                                                                class="btn btn-success glyphicon glyphicon-trash"#}
{#                                                                title="删除"#}
{#                                                                onclick="delete_new_flash({{ row['id'] }})"></button>#}
{#                                                    {% endif %}#}
{#                                                    <br>#}
{#                                                    <button type="button"#}
{#                                                            class="btn btn-danger glyphicon glyphicon-pencil" title="编辑"#}
{#                                                            onclick="modify_new_flash({{ row['id'] }})"></button>#}
{#                                                    <br>#}
{#                                                    {% if row["is_push"] == 1 %}#}
{#                                                        <button type="button" disabled="true"#}
{#                                                                class="btn btn-default glyphicon glyphicon-bullhorn"#}
{#                                                                title="已推送"></button>#}
{#                                                    {% else %}#}
{#                                                        <button type="button"#}
{#                                                                class="btn btn-warning glyphicon glyphicon-bullhorn"#}
{#                                                                title="推送"#}
{#                                                                onclick="push_new_flash({{ row['id'] }})"></button>#}
{#                                                    {% endif %}#}
{#                                                    {% if row['is_show'] == 1 %}#}
{#                                                        <button type="button"#}
{#                                                                class="btn btn-default glyphicon glyphicon-eye-close"#}
{#                                                                title="取消展示"#}
{#                                                                onclick="close_new_flash({{ row['id'] }})"></button>#}
{#                                                    {% else %}#}
{#                                                        <button type="button"#}
{#                                                                class="btn blue btn-default glyphicon glyphicon-eye-open"#}
{#                                                                title="展示"#}
{#                                                                onclick="show_new_flash({{ row['id'] }})"></button>#}
{#                                                    {% endif %}#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{#                                        </tbody>#}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="hidden_val" type="hidden" value="">

{#                    {% if pagination %}#}
{#                        {{ macro_pagination.pagination_widget(pagination,'new_flash.new_flash_list') }}#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </div>
    <script type="text/JavaScript">
{#        var this_reload = window.localStorage.getItem("reload");#}
{#        if (this_reload == "true") {#}
{#            window.localStorage.setItem("reload", "false");#}
{#            window.location.reload();#}
{#        }#}
{#        //获取地址栏参数，name:参数名称#}
{#        function getUrlParms(name) {#}
{#            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");#}
{#            var r = window.location.search.substr(1).match(reg);#}
{#            if (r != null)#}
{#                return unescape(r[2]);#}
{#            return null;#}
{#        }#}
{#        var select_id = getUrlParms("select_id");#}
{##}
{##}
{#        $(function () {#}
{#            localStorage.setItem('news_since_id', $('#hidden_get').val());#}
{##}
{#            var select_id = getUrlParms("select_id");#}
{#            if (select_id) {#}
{#                $("#hidden_val").val(select_id)#}
{#            }#}
{##}
{#            var keyword = getUrlParms("keyword");#}
{#            if (keyword) {#}
{#                $('#keyword').val(keyword)#}
{#            }#}
{#            $(".search_word .glyphicon-remove").click(function () {#}
{#                $("#keyword").val("");#}
{#            });#}
{#            switch (select_id) {#}
{#                case "1":#}
{#                    $("#toggle_menu").html('已展示快讯 <span class="caret"></span>');#}
{#                    break;#}
{#                case "2":#}
{#                    $("#toggle_menu").html('采编快讯 <span class="caret"></span>');#}
{#                    break;#}
{#                case "3":#}
{#                    $("#toggle_menu").html('原创快讯 <span class="caret"></span>');#}
{#                    break;#}
{#                case "4":#}
{#                    $("#toggle_menu").html('未展示快讯 <span class="caret"></span>');#}
{#                    break;#}
{#                default:#}
{#                    $("#toggle_menu").html('所有快讯 <span class="caret"></span>');#}
{#            }#}
{#            $(".form-horizontal").submit(function () {#}
{#                search_new_flash_keyword();#}
{#                return false;#}
{#            })#}
{#        });#}
{#        // 反选#}
{#                function all_choice() {#}
{#                    $("input[name='choice_checkbox']").each(function () {#}
{#                        if ($(this).prop("checked")) {#}
{#                            $(this).attr("checked",false);#}
{#                        }#}
{#                        else {#}
{#                            $(this).prop("checked",true);#}
{#                        }#}
{#                    })#}
{#                }#}
{#        //全选#}
{#        function all_choice() {#}
{#            $("input[name='choice_checkbox']").each(function () {#}
{#                $(this).attr("checked", true)#}
{#            })#}
{#        }#}
{##}
{#        // 批量删除#}
        {#        function delete_choice_flash() {#}
        {#            var flash_id_list = [];#}
        {#            $("input[name='choice_checkbox']:checked").each(function () {#}
        {#                flash_id_list.push($(this).val());#}
        {#            });#}
        {#            $.ajax({#}
        {#                url: '{{ url_for('new_flash.delete_choice_flash')}}',#}
        {#                type: 'post',#}
        {#                data: JSON.stringify(flash_id_list),#}
        {#                success: function (data) {#}
        {#                    if (data.success == 'ok') {#}
        {#                        alert("删除成功");#}
        {#                        window.location.href = "{{ url_for('new_flash.new_flash_list') }}"#}
        {#                    }#}
        {#                }#}
        {#            })#}
        {#        }#}
{##}
{#        function delete_choice_flash() {#}
{#            var flash_id_list = [];#}
{#            $("input[name='choice_checkbox']:checked").each(function () {#}
{#                flash_id_list.push($(this).val());#}
{#            });#}
{#            if (flash_id_list == "") {#}
{#                layer.msg("请最少选择一条快讯，再进行该操作");#}
{#                return false#}
{#            }#}
{#            layer.confirm('是否批量删除？', {#}
{#                btn: ['是', '否']#}
{#            }, function () {#}
{#                $.ajax({#}
{#                    url: '{{ url_for('new_flash.delete_choice_flash')}}',#}
{#                    type: 'post',#}
{#                    data: JSON.stringify(flash_id_list),#}
{#                    success: function (data) {#}
{#                        if (data.success == 'ok') {#}
{#                            layser.msg("批量删除成功！", {time: 2000, icon: 1});#}
{#                            window.location.reload();#}
{#                        }#}
{#                        else {#}
{#                            layer.msg("批量删除失败！", {time: 2000, icon: 5});#}
{#                            return false#}
{#                        }#}
{#                    }#}
{#                });#}
{#            }, function () {#}
{#                layer.msg("已取消", {time: 2000, icon: 2});#}
{#                return false#}
{#            });#}
{#        }#}
{##}
{##}
{#        // 关键词搜索#}
{#        function search_new_flash_keyword() {#}
{#            var keyword = $("#keyword").val();#}
{#            if (keyword) {#}
{#                window.open("/new_search_result?keyword=" + keyword);#}
{#                localStorage.setItem("keyword", keyword);#}
                {#                window.open = #}
{#            } else {#}
{#                layer.msg("您好像并没输入任何东西", {time: 2000, icon: 5});#}
{#                return false#}
{#            }#}
{#        }#}
{##}
{#        // 自动推送#}
{#        function add_auto_push() {#}
{#            $.ajax({#}
{#                url: '{{ url_for('new_flash.add_auto_push_time')}}',#}
{#                type: 'post',#}
{#                data: {#}
{#                    begin_time: $("#begin_time").val(),#}
{#                    end_time: $("#end_time").val()#}
{#                },#}
{#                success: function (data) {#}
{#                    if (data.success == 'ok') {#}
{#                        $("#dialog_push_config").modal('hide');#}
{#                        layer.msg("自动推送设置成功", {time: 2000, icon: 6});#}
{#                        window.location.reload();#}
{#                    }#}
{#                }#}
{#            })#}
{#        }#}
{##}
{#        // 推送#}
{#        function push_new_flash(id) {#}
{#            $.ajax({#}
{#                url: '{{ url_for('new_flash.push_new_flash')}}',#}
{#                type: 'post',#}
{#                data: {#}
{#                    id: id#}
{#                },#}
{#                success: function (data) {#}
{#                    if (data.success == 'ok') {#}
{#                        layer.msg("推送成功", {time: 2000, icon: 6});#}
                        {#                        window.history.go(-1)#}
{#                        window.location.reload()#}
{#                    }#}
{#                    else {#}
{#                        layer.msg("推送失败", {time: 2000, icon: 5});#}
                        {#                        window.history.go(-1);#}
                        {#window.navigate({{ url_for("new_flash.new_flash_list") }});#}
{#                    }#}
{#                }#}
{#            })#}
{#        }#}
{##}
{##}
{#        // 展示#}
{#        function show_new_flash(id) {#}
{#            $.ajax({#}
{#                url: '{{ url_for('new_flash.show_new_flash')}}',#}
{#                type: 'post',#}
{#                data: {#}
{#                    id: id#}
{#                },#}
{#                success: function (data) {#}
{#                    if (data.success == 'ok') {#}
{#                        layer.msg("展示成功", {time: 2000, icon: 6});#}
{#                        window.location.reload()#}
{#                    }#}
{#                    else {#}
{#                        layer.msg("未成功展示", {time: 2000, icon: 5});#}
{##}
{#                    }#}
{#                }#}
{#            })#}
{#        }#}
{##}
{#        // 取消展示#}
{#        function close_new_flash(id) {#}
{#            $.ajax({#}
{#                url: '{{ url_for('new_flash.close_new_flash')}}',#}
{#                type: 'post',#}
{#                data: {#}
{#                    id: id#}
{#                },#}
{#                success: function (data) {#}
{#                    if (data.success == 'ok') {#}
{#                        layer.msg("操作成功", {time: 2000, icon: 1});#}
{#                        window.location.reload()#}
{#                    }#}
{#                    else {#}
{#                        layer.msg("操作失败，请重试！", {time: 2000, icon: 5});#}
{#                    }#}
{#                }#}
{#            })#}
{#        }#}
{##}
{#        // 删除快讯#}
{#        function delete_new_flash(id) {#}
{#            layer.confirm("是否删除？", {#}
{#                btn: ['确认', '取消']#}
{#            }, function () {#}
{#                $.ajax({#}
{#                    url: '{{ url_for('new_flash.delete_new_flash')}}',#}
{#                    type: 'post',#}
{#                    data: {#}
{#                        id: id#}
{#                    },#}
{#                    success: function (data) {#}
{#                        if (data.success == 'ok') {#}
{#                            layer.msg("删除成功", {time: 2000, icon: 1});#}
{#                            $("#tr-" + id).remove();#}
{#                            window.location.reload();#}
                            {#                        window.location.href = "/new_flash_list"#}
{#                        }#}
{#                        else {#}
{#                            layer.msg("删除失败！", {time: 2000, icon: 5});#}
{#                            return false#}
{#                        }#}
{#                    }#}
{#                });#}
{#            }, function () {#}
{#                layer.msg("已取消", {time: 2000, icon: 2});#}
{#                return false#}
{#            });#}
{#        }#}
{##}
{#        function add_new_flash() {#}
{#            window.location.href = "/add_new_flash"#}
{#        }#}
{##}
{#        function modify_new_flash(id) {#}
{#            window.location.href = "/modify_new_flash?id=" + id;#}
            {#$.ajax({#}
            {#    url: '{{ url_for('new_flash.modify_new_flash')}}',#}
            {#    type: 'get',#}
            {#    data: {#}
            {#        id: id#}
            {#    },#}
            {#    success: function (data) {#}
            {#        if (data.success == 'ok') {#}
            {##}
            {#        }#}
            {#    }#}
            {#{)#}
{#        }#}

    </script>
{% endblock %}

